@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');
@theme {
    --color-primary: #96C0B7;
    --color-darker:#1E3231;
    --color-dark:#485665;
    --color-light-yellow:#F8E16C;
}
